{% extends 'organization/base.html' %}
{% block title %}Detail{% endblock %}
{% block body %}
    <div class="col-sm-4 col-lg-2">
        <div class="thumbnail" style="height: 500px;">
            <img src="{{ organization.logo.url }}" style="height: 200px; width: 300px;" >
            <h3>{{ organization.name }}</h3>
            <h3>{{ organization.country }}</h3>
            <h3>{{ organization.type }}</h3>
            <div class="caption">
                <!-- Update Organization -->
                <form method="get" action="{% url 'organization:organization-update' organization.id %}">
                    <button type="submit" class="btn btn-primary btn-sm" role="button">Update</button>
                </form>
                <!-- Delete Organization -->
                <form action="{% url 'organization:organization-delete' organization.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="organization_id" value="{{ organization.id }}"/>
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


